/* GERAL */
.container{
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
/* END GERAL */

/* HEADER */
header{
    width: 100%;
    background-color: #f6f6f6;
    font-size: 1.2rem;
    min-height: 85px;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}
header.fixed{
    position: fixed;
    z-index: 1;
}
header.desktop section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
header.desktop section div img{
    max-width: 300px;
}
header.desktop section div img.mobile{
    display: none;
}
header.desktop ul{
 display: flex;   
}
header.desktop ul li.selected a:after{
    position: absolute;
    content: '';
    background: var(--cor-preta);
    width: 80%;
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.5;
}
header.desktop ul li a{
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 250ms linear 0s;
    color: var(--cor-preta);
}
header.desktop ul li a:hover{
    cursor: pointer;
}
header.desktop ul li a:hover:after{
    position: absolute;
    content: '';
    background: var(--cor-preta);
    width: 80%;
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.5;
}
/* END HEADER */

/* FOOTER */
footer.desktop{
    width: 100%;
    background-color: var(--cor-secundaria-azul-escuro);
    font-size: 1.2rem;
    min-height: 85px;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}
footer.desktop section{
    padding: 50px 0;
}
footer.desktop section div ul{
    display: flex;
}
footer.desktop section div ul li{
    padding: 20px 10px;
}
footer.desktop section div ul li a{
    color: var(--cor-branca);
}
footer.desktop section div ul li a:hover{
    cursor: pointer;
    
}
footer.desktop section div ul li:hover:after {
    position: absolute;
    content: '';
    background: var(--cor-branca);
    width: 80%;
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
footer.desktop section div.whatsapp{
    transition: transform 1.2s
}

footer.desktop section div.whatsapp a{
    position:fixed;
    bottom:40px;
    right:50px;
}
footer.desktop section div.whatsapp a:hover{
    transform: scale(1.2);
}

.marking{
    position: relative;
    padding-bottom: 15px;
    text-align: left;
    font-size: 2.8rem;
}
.marking:after{
    content: '';
    position: absolute;
    width: 35px;
    height: 8px;
    background: var(--cor-principal-azul);
    left: 0;
    bottom: 0;
}
/* END FOOTER */

/* MENU RESPONSIVE */

@media (min-width: 767px) and (max-width: 913px){
    header.desktop section div img {
        max-width: 250px;
    }
}
@media (min-width: 767px) and (max-width: 860px){
    header.desktop section div img {
        max-width: 200px;
    }
}

@media (max-width: 767px){
    header.desktop section div img {
        max-width: 200px;
    }
    .menu-toggle{
        display: block;
    }
    nav{
        display: none;
    }
    .one, .two, .three{
        background-color: var(--cor-principal-azul);
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
    }
    header.on .one{
        transform:  rotate(45deg) translate(7px, 7px);
    }
    header.on .two{
        opacity: 0;
    }
    header.on .three{
        transform:  rotate(-45deg) translate(8px, -9px);
    }
    .menu-toggle{
        width: 40px;
        height: 40px;
        z-index: 4;
        position: absolute;
        right: 0;
        margin-right: 30px;
    }
    header.on section{
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: var(--cor-principal-azul);
        z-index: 3;
        max-width: 100%;
        transition-duration: 0.3s;
    }
    header.on section div{
        text-align: center;
        margin-top: 50px;
    }
    header.on section nav{
        display: block;
        
    }
    header.on section nav ul{
        display: block;
        text-align: center;
        padding: 50px 0;
    }
    header.on section nav ul li{
        margin-bottom: 20px;
        padding: 20px;
        width: 300px;
        margin: auto;
    }
    header.on section nav ul li.selected{
        background: rgba(255,255,255, 0.1);
        border-radius: 5px;
    }
    header.on section nav ul li a{
        color: var(--cor-branca);
    }
    
    header.on .menu-toggle .one,
    header.on .menu-toggle .two,
    header.on .menu-toggle .three{
        background: var(--cor-branca);
    } 
    header.desktop ul li a:hover:after{
        display: none;
    }
    header.desktop ul li.selected a:after{
        display: none;
    }
    header.on section div img.mobile{
        display: block;
        margin: auto;
        height: 80px;
    }
    header.on section div img.desktop{
        display: none;
    }

    footer.desktop section div ul{
        display: block;
    }
    
}
/* MENU RESPONSIVE */