/* MAIN */
main.desktop{
    width: 100%;
    font-size: 1.2rem;
    height: auto;
    align-items: center;
    line-height: 3rem;
    padding: 50px 0;
    min-height: 80vh;
}
main.desktop h1{
    margin-bottom: 40px;
}
main.desktop section{
    display: block;
}
main.desktop section div.first{
    display: flex;
    align-items: center;
    height: 100px;  
    position: relative;  
}
main.desktop section div.first div:last-child{
    overflow: hidden;
}
main.desktop section div.first div{
    padding: 0 20px;
    display: flex;
    max-height: 100px;
    max-width: 100%;
    text-align: left;
}
main.desktop section div.first div img{
    max-width: 100px;
    max-height: 100px;
}
main.desktop section div.first div button{
    color: var(--cor-preta);
    max-width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    text-align: left;
}
main.desktop section div.first div button:hover{
    text-decoration: underline;
}
main.desktop section div.first div p{
    font-size: 1.4rem;
    text-align: justify;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
hr.desktop{
    border-color: (--cor-secundaria-cinza-claro);
    border-bottom-width: 3px;
    opacity: 0.3;
    border-style: groove;
}
@media (max-width: 999px){
    
}