{% extends 'indexDesktop.html' %}
{{ super() }}
{% block styleDinamico %}
<link href="{{url_for('static', filename='assets/css/main.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='assets/css/desktop/admin/home-admin.css')}}" rel="stylesheet">
{% endblock styleDinamico %}

{% block headerPadrao %}

<header class="desktop-admin">
    <div class="logo mb-30">
        <img class="mb-15" src="{{url_for('static', filename='assets/images/logo-1-original.jpg')}}"
            alt="Logo Lions Clube Internacional">
        <h1>Gerenciador de conteúdo Lions</h1>
    </div>
    <nav>
        <ul>
            <li><a class="select-menu" href="{{ url_for('admin.homeAdmin') }}">{{tela}}</a></li>
            <li><a href="{{ url_for('admin.AdmQuemSomos') }}">Quem somos</a></li>
            <li><a href="{{ url_for('admin.AdmProjetos') }}">Projetos</a></li>
            <li><a href="{{ url_for('admin.AdmContato') }}">Contatos</a></li>
        </ul>
    </nav>
</header>
{% endblock headerPadrao %}

{% block conteudo %}

<main class="desktop">
    {% block configuracaoTela %}
        <section class="header container">
            <h1>Nome da tela</h1>
            <div>
                <label>Usuário: Nome</label>
                <span>|</span>
                <a href="{{ url_for('login.logoff') }}">Sair</a>
            </div>
        </section>
        <hr>
    {% endblock configuracaoTela %}    

    {% block listagemDados %}        

    {% endblock listagemDados %}
    
    {% block footerConteudo %}
        <section class="footer container">

        </section>
    {% endblock footerConteudo %}

</main>

{% endblock conteudo %}

{% block footer %}
{% endblock footer %}