{% extends 'baseAdminDesktop.html' %}


{% block listagemDados %}
<section class="form">
    <form action="{{ url_for('admin.modificarQuemSomos')  }}" method="POST" enctype="multipart/form-data">
        <div class="form-item">
            <label for="">Primeiro título</label>
            <input required="true" type="text" value= "{{ registro.titulo1 }}" name="titulo1" id="titulo1">
        </div>
        <div class="form-item">
            <label for="">Primeiro texto</label>
            <textarea required="true" name="texto1" id="texto1" autocomplete="off" maxlength="200" cols="30" rows="2" >{{ registro.texto1 }}</textarea>        
        </div>

        <br><hr><br>

        <div class="form-item">
            <label class="label-input" for="arquivo-2">Imagem primeiro texto</label>
            <input type="file" id="arquivo-2" name="arquivo-2" accept="image/png, image/jpeg">
            <span class="nomeArquivo">Nome arquivo selecionado</span>
        </div>  
        <div class="form-item">
            <label for="">Segundo texto</label>
            <textarea required="true" name="texto2" id="texto2" autocomplete="off" maxlength="200" cols="30" rows="2" >{{ registro.texto2 }}</textarea>        
        </div>

        

        </div>
        <div class="">
            <input type="submit" class="btn-editar" value="Entrar" class="button">
        </div>
    </form>
</section>
{% endblock listagemDados %}