{% extends 'baseAdminDesktop.html' %}


{% block listagemDados %}
<section class="form">
        <form action="{{ url_for('admin.modificarInicio')  }}" method="POST" enctype="multipart/form-data">

            <div class="form-item">
                <label for="">Primeiro texto</label>
                <textarea required="true" name="texto1" id="texto1" autocomplete="off" maxlength="600" cols="30" rows="10" placeholder="Primeiro Texto">{{ registro.texto1 }}</textarea>                
            </div>
            <div class="form-item">
                <label class="label-input" for="arquivo-1">Imagem primeiro texto</label>
                <input required="true" type="file" id="arquivo-1" name="arquivo-1" accept="image/png, image/jpeg">
                <span class="nomeArquivo">Nome arquivo selecionado</span>
            </div>

            <br><hr><br>

            <div class="form-item">
                <label for="">Segundo título</label>
                <input required="true" type="text" value="{{ registro.titulo2 }}" name="titulo2" id="titulo2">
            </div>
            <div class="form-item">
                <label for="">Segundo Texto</label>
                <textarea required="true" name="texto2" id="texto2" autocomplete="off" maxlength="1500" cols="30" rows="10" placeholder="Segundo Texto">{{ registro.texto2 }}</textarea>                
            </div>            

            <br><hr><br>

            <div class="form-item">
                <label for="">Terceiro Texto</label>
                <textarea required="true" name="texto3" id="texto3" autocomplete="off" maxlength="600" cols="30" rows="10" placeholder="Terceiro Texto">{{ registro.texto2 }}</textarea>                
            </div>  

            <div class="form-item">
                <label class="label-input" for="arquivo-3">Imagem terceiro texto</label>
                <input required="true" type="file" id="arquivo-3" name="arquivo-3" accept="image/png, image/jpeg">
                <span class="nomeArquivo">Nome arquivo selecionado</span>
            </div>

            <div class="form-action">
                <input type="submit" class="btn-editar" value="Salvar" class="button">
            </div>
        </form>
</section>
{% endblock listagemDados %}