{% extends 'baseAdminDesktop.html' %}


{% block listagemDados %}
<section class="body container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Título</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <th scope="row">#{}</th>
            <td>Teste 1</td>
            <td>10/10/2022</td>
          </tr>
          <tr>
            <th scope="row">#2</th>
            <td>Teste 2</td>
            <td>11/10/2022</td>
          </tr>
          <tr>
            <th scope="row">#3</th>
            <td>Teste 3</td>
            <td>12/10/2022</td>
          </tr>
        </tbody>
      </table>
</section>
{% endblock listagemDados %}