{% extends 'baseAdminDesktop.html' %}


{% block listagemDados %}
<section class="body container">
  <table class="table">
      <thead>
        <tr>
          <th>#ID</th>
          <th>
            Nome
          </th>
          <th>Telefone</th>
          <th>Açõs</th>
        </tr>
      </thead>
      
      <tbody>
        {% for dado in dados %}
      <tr>
        
        <td >{{ dado.id }}</td>
            <td>{{ dado.nome }}</td>
            <td>{{ dado.telefone }}</td>
           

        <td>
          <form action="{{ url_for('admin.visualizarContato') }}" method="POST" name="projeto{{ dado.id }}">
            <input type="hidden" name="id" value="{{ dado.id }}">
            <input type="submit" class="btn-editar" name="tipo" value="Visualizar" class="button">
            
          </form>
        </td>
      </tr>
      {% endfor %}


  

                   
      </tbody>
    </table>
</section>
{% endblock listagemDados %}