{% extends 'baseAdminDesktop.html' %}


{% block listagemDados %}
<section class="body container">
  <table class="table">
      <thead>
        <tr>
          <th>#ID</th>
          <th>Título</th>
          <th>Data</th>
          <th>Açõs</th>
        </tr>
      </thead>
      
      <tbody>
        <tr >
          <td >#1</td>
          <td>Teste 1</td>
          <td>10/10/2022</td>
          <td>
            <a class="btn-editar" href="">Visualizar</a>
          </td>
        </tr>
        <tr>
          <td >#2</td>
          <td>Teste 2</td>
          <td>11/10/2022</td>
          <td>
            <a class="btn-editar" href="">Visualizar</a>
          </td>
        </tr>
        </tr>
        <tr>
          <td >#3</td>
          <td>Teste 3</td>
          <td>12/10/2022</td>
          <td>
            <a class="btn-editar" href="">Visualizar</a>
          </td>
        </tr>
        </tr>
      </tbody>
    </table>
</section>
{% endblock listagemDados %}