/* PADDING */
/* END PADDING */
/* MARGIN */
.mb-30{
    margin-bottom: 3rem;
}
.mb-16{
    margin-bottom: 1.6rem;
}
.mb-15{
    margin-bottom: 1.5rem;
}
.mb-10{
    margin-bottom: 1rem;
}
.mb-8{
    margin-bottom: 0.8rem;
}
.mb-5{
    margin-bottom: 0.5rem;
}
/* END MARGIN */