{% extends 'indexDesktop.html' %}
{% block head %}
     {% block metaDinamico %}
     {{ super() }}
     <meta name="description" content="Texto breve sobre o Lions clube">
     <title>Inicio Lions Clube</title>
     {% endblock metaDinamico %}
     {% block styleDinamico %}
        {{ super() }}
        <link href="{{url_for('static', filename='assets/css/desktop/projetos.css')}}" rel="stylesheet">
     {% endblock styleDinamico %}
{% endblock head %}
{{ super() }}

{% block conteudo %}
<main class="desktop">
    <h1>Projetos</h1>

    {% for dado in dados %}

    <hr class="desktop">
    <section class="first container">
        <div><img src="{{url_for('static', filename= dado.descricaoImagem )}}" alt=""></div>
        <div>
            <a href="#">
                <h2>{{ dado.nome }}</h2>
                <p>{{ dado.descricao }}</p>
            </a>
        </div>
    </section>

    {% endfor %}

   
    <hr class="desktop">
</main>
{% endblock conteudo %}