{% extends 'indexDesktop.html' %}
{% block head %}
     {% block metaDinamico %}
     {{ super() }}
     <meta name="description" content="Texto breve sobre o Lions clube">
     <title>Inicio Lions Clube</title>
     {% endblock metaDinamico %}
     {% block styleDinamico %}
        {{ super() }}
        <link href="{{url_for('static', filename='assets/css/desktop/projeto.css')}}" rel="stylesheet">
     {% endblock styleDinamico %}
{% endblock head %}
{{ super() }}

{% block conteudo %}
<main class="desktop">
    <section class="container">
        <div>
            <img src="{{url_for('static', filename=dados.descricaoImagem)}}" alt="">
            <!-- <span>{{ dados.data }}</span> -->
        </div>
        <div>
            <h1 class="marking">{{ dados.nome }}</h1>
            <p>{{ dados.descricao }}</p>
        </div>
    </section>   
    
</main>
{% endblock conteudo %}