{% extends 'indexDesktop.html' %}
{% block head %}
     {% block metaDinamico %}
     {{ super() }}
     <meta name="description" content="Texto breve sobre o Lions clube">
     <title>Inicio Lions Clube</title>
     {% endblock metaDinamico %}
     {% block styleDinamico %}
        {{ super() }}
        <link href="{{url_for('static', filename='assets/css/desktop/projetos.css')}}" rel="stylesheet">
     {% endblock styleDinamico %}
{% endblock head %}
{{ super() }}

{% block conteudo %}
<main class="desktop">
    <section class="container">
        <h1 class="marking">Projetos</h1>
        {% for dado in dados %}

        <hr class="desktop">
        <form action="{{ url_for('projetos.viewProjeto') }}" method="POST" name="projeto{{ dados.id }}">
            <input type="hidden" name="idProjeto" id="idProjeto" value="{{ dado.id }}"> 

            <div class="first">
                <div><img src="{{url_for('static', filename= dado.descricaoImagem )}}" alt=""></div>
                <div>
                    <button  type="submit">
                        <h2>{{ dado.nome }}</h2>
                        <p>{{ dado.descricao }}</p>

                    </button>
                </div>

        </form>


        
        </div>

        

        {% endfor %}
        <hr class="desktop">
    </section>
   
    
</main>
{% endblock conteudo %}