{% extends 'indexDesktop.html' %}
{% block head %}
     {% block metaDinamico %}
     <meta name="description" content="Texto breve sobre o Lions clube">
     <title>Inicio Lions Clube</title>
     {% endblock metaDinamico %}
     {% block styleDinamico %}
        {{ super() }}
        <link href="{{url_for('static', filename='assets/css/desktop/quem-somos.css')}}" rel="stylesheet">
     {% endblock styleDinamico %}
{% endblock head %}
{{ super() }}

{% block conteudo %}
<main class="desktop">
    <section class="first container">
        <h2>{{dados.titulo1 }}</h2>
        <div>
            <p>
                {{dados.texto1}}
            </p>
        </div>
    </section>
    <hr class="desktop">
    <section class="second container">
        <div><img src="{{url_for('static', filename=dados.descricaoImagem2)}}" alt=""></div>
        <div>
            <p>{{dados.texto2}}</p>
        </div>
    </section>
</main>
{% endblock conteudo %}